@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #19191f;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .Container {
    gap: 2rem;
    display: flex;
    align-content: center;
    flex-direction: column;

    h1 {
      color: white;
      text-align: center;

      span {
        color: #029ff9;
      }
    }

    .Content {
      gap: 1rem;
      display: flex;
      padding: 1rem;
      align-items: center;
      border-radius: 0.5rem;
      flex-direction: column;
      justify-content: center;
      background-color: #24252b;
      box-shadow: 0rem 2rem 2rem #0d0d1062;

      .Title {
        gap: 1rem;
        display: flex;
        align-items: center;
        align-content: center;

        .InputValue {
          gap: 0.5rem;
          display: flex;
          color: white;
          font-size: 1.2rem;
          flex-direction: column;

          input {
            border: none;
            outline: none;
            cursor: pointer;
            width: 160px;
            height: 20px;
            color: white;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            background-color: #19191f;
          }
        }

        .InputsRadios {
          gap: 1rem;
          display: flex;
          flex-direction: column;

          p {
            font-size: 1.2rem;
            color: white;
          }

          .Center {
            gap: 1rem;
            display: flex;

            div {
              label {
                gap: 0.5rem;
                display: flex;
                color: white;
              }
            }
          }
        }
      }

      button {
        width: 100%;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        padding: 0.5rem;
        color: white;
        border-radius: 0.5rem;
        background-color: #767be6;

        &:hover {
          background-color: #5f64b9;
        }
      }

      .Imagem {
        width: 250px;
        height: 250px;

        img {
          width: 250px;
          height: 250px;
          border-radius: 0.5rem;
        }
      }

      p {
        color: white;
      }
    }
  }
}
